.Navy{
    background: lavenderblush;
     /* background: radial-gradient(red, lavenderblush); */
}
.mdl-layout__drawer-button {
 color: mediumslateblue;
}
.mdl-layout__header-row > * {
 
    color: black;
}
.mdl-layout__header-row .mdl-navigation__link {
  color: black;
}
.mdl-layout__drawer.is-visible {
    background: azure;
}
.navbar {
  flex-wrap: unset !important;
}
.meNav{
      width: 72% !important;
}
.sideName{
    font-size: 20px;
    font-weight: bold;
}

.navbar-nav {
  flex-direction: row !important;
  justify-content: space-around !important;
}
.sideBar{
  text-align: center;
   margin: 0 auto;
}
.mdl-layout__obfuscator.is-visible {
    pointer-events: auto;
     opacity: 0.2; 
}
.sideLink{
      color: mediumturquoise !important;
}
.mdl-navigation__link:hover {
    background-color: lavender !important;
}
